[Desktop Entry]
Name=Tools Launcher
Comment=Quick access to RL software tools
GenericName=Tools Launcher
Exec=/usr/local/bin/quick-launcher.sh
Icon=/usr/share/pixmaps/quick_launcher.svg
Type=Application
StartupNotify=false
Categories=System;Utility;